*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #333;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 7.5vmin;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 3vmin;
    border-bottom: 3px solid #ccc;
}

.title {
    color: #ccc;
}

#score {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 2vmin;
    color: #ccc;
    background-color: #333;
}
#score span {
    font-size: 5vmin;
    text-align: center;
    color: #ccc;
    animation: scaleScore 200ms ease-in-out;
}

#game-board {
    display: grid;
    grid: repeat(var(--grid-size), var(--cell-size)) / repeat(
            var(--grid-size),
            var(--cell-size)
        );
    background-color: #ccc;
    gap: var(--cell-gap);
    border-radius: 1vmin;
    padding: var(--cell-gap);
    position: relative;
}

.cell {
    background-color: #aaa;
    border-radius: 1vmin;
}

.tile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: red;
    border-radius: 1vmin;
    top: calc(
        var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap)
    );
    left: calc(
        var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap)
    );
    background-color: hsl(100, 50%, var(--background-lightness));
    color: hsl(100, 25%, var(--text-lightness));
    font-weight: bold;
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
}

@keyframes show {
    0% {
        opacity: 0.5;
        transform: scale(0);
    }
}

@keyframes scaleScore {
    50% {
        transform: scale(1.5);
    }
}
